@model BestelApp2.Models.Categorie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Categorie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategorieNaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategorieNaam)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategorieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
